
.slide {
    position: relative;
    opacity: 1;
    transition: opacity 3s;
}

.slide-content > h1 {
    position: absolute;
    color: white;
}

#slide1-text1 {
    font-family: 'Open Sans Condensed', sans-serif;
    right: 53%;
    top: 34%;
    font-weight: 100;
    opacity: 0.7;
}

#slide1-text2 {
    right: 54%;
    top: 28%
}

#slide1-text3 {
    right: 53%;
    top: 46%
}

#nam-text {
    font-size: 107px;
}
