
.slide {
    position: relative;
    opacity: 1;
    transition: opacity 3s;
}
.slide img {
    width: 100%;
}

.slide-content > h1 {
    position: absolute;
    color: white;
}

#slide1-text1 {
    font-family: 'Open Sans Condensed', sans-serif;
    right: 53%;
    top: 34%;
    font-weight: 100;
    opacity: 0.7;
}

#slide1-text2 {
    right: 54%;
    top: 28%;
}

#slide1-text3 {
    right: 53%;
    top: 46%
}

.text-b {
    font-size: 107px;
}

#slide2-text1 {
    font-family: 'Open Sans Condensed', sans-serif;
    right: 53%;
    top: 34%;
    font-weight: 100;
    opacity: 0.7;
}

#slide2-text2 {
    right: 54%;
    top: 28%;
}

#slide2-text3 {
    right: 53%;
    top: 46%
}