.content, .main-title {
    background-color: white;
}

/* end custom navigation bar */

.image-preview > div {
    position: relative;
    max-width: 273px;
}

.image-preview img {
    position: relative;
    left: 0;
    right: 0;
    padding-top: 30px;
}

.image-preview .img-hint {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    padding: 0;
    margin: 0;
    height: 50px;
    width: 100%;
    transition: background-color 0.5s;
}

.image-preview .img-hint:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.image-preview .par {
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);

}

.image-preview .rap {
    padding-top: 10px;
    padding-right: 10px;
    margin-left: -20px;
    font-weight: bold;
    color: #4c79cf;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.title-bg-line {
    border-color: #767676;
    position: relative;
    top: 60px;
    margin: 20px;
}

.main-title {
    padding: 0 10px;
    color: #767676;

}

.booklet-block > div {
    border-bottom: 1px dotted #808080;
    padding: 10px 0;
}

.booklet-block > div:last-child {
    border-bottom: none;
}

.booklet-block a {
    text-decoration-line: underline;
    font-size: 10px;
    color: #737373;
    text-decoration-color: #737373;
}

.news-item {
    padding-top: 30px;
}

.news-date {
    color: #ccc;
}

.news-title {
     color: #767676;
}

.news-content {
    color: #020202;
}

.news-a {
    color: #737373;
    text-decoration-color: #737373;
    text-decoration-line: underline;
}

.line-shadow {
    box-shadow: 0 4px 2px rgba(0,0,0,0.2);
    border-radius: 100px / 10px;
    height: 30px;
    display: block;
    margin: -29px auto 0 auto;
    width: 80%;
    z-index: 1;
    position: relative;
}

.text_booklet {
    text-align: justify;
}

.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#img_center {
    text-align: center;
}